
<div class='col-md-6 task-right'>
	<ul>
		<a href="#"><li class='active'>Home</li></a>
				<a href="/shops/new"><li class='inactive'>Add</li></a>
		<li id='user_info'>Welcome, <%= User.find(session[:user_id]).first_name %></li>
		<a href="<%= user_path(session[:user_id]) %>"><li class='inactive'>Profile</li></a>
		<a href="/logout"><li class='inactive'>Logout</li></a>
	</ul>
</div>
