
<div class='col-md-6 task-right'>
	<ul>
		<li id='user_info'>Welcome, Guest</li>
		<a href='#' class='login'><li class='inactive'>Login</li></a>
		<a href='#' class='registration'><li class='inactive'>Register</li></a>
	</ul>
</div>