@import 'bootstrap';

ul {
	margin-bottom: 0px;
}

.col-md-6 {
	padding: 0px;
}

.add-shop{
	background-color: #EAE8DB;
}

	.add-shop h3 {
		margin-bottom: 10px;
		/*margin-top: 0px;*/
	}

	.shop_name {
		width: 60%;
	}

	.form-left, .form-right {
		padding-top: 0px;
		padding: 20px;
	}

	.form-right {
		padding-left: 0px;
	}

	.pac-matched, .pac-item {
		font-size: 14px;
	}

.map2 {
	width: 100%;
	height: 300px;
	border: 1px solid silver;
}

.options {
	border: 1px solid silver;
	padding: 10px;
	border-radius: 10px;
	background-color: #EAE8DB;
	padding-bottom: 20px;
}

	.other_options {
		border-top: 2px dashed #333333;
	}

	.description {
		padding-top: 46px;
	}

.row {
	margin-left: 0px;
	margin-right: 0px;
}

.images img {
	display: inline-block;
	height: 140px;
	width: 140px;
	margin: 5px 10px;
}

.form-group {
	margin-bottom: 5px;
	display: block;
}
 
.new_shop_success {
	background-color: #E4ECCF;
	padding: 10px;
	margin-left: 20px;
	border-radius: 20px;
	border: 2px solid #B8D7B4;
	display: inline-block;
}

.new_shop_error_div {
	padding: 10px;
	background-color: pink;
	color: red;
	margin-left: 20px;
	border-radius: 20px;
	border: 2px solid darkred;
	display: inline-block;
}

.footer {
	float: right;
}

.btn-primary {
	background-color: #6C4C2B; 
	border: 1px solid #523017;
}
	.btn-primary:hover {
		background-color: #523017;
		border-color: #201309;
	}

.btn-success {
	background-color: #64574A;
	border-color: #222222;
}

	.btn-success:hover {
		background-color: #444444;
		border-color: #111111;
	}

.btn-warning {
	background-color: #E8C86C;
}

.btn-default {
	font-weight: bold;
	background-color: white;
	color: #523017;
	border-color: #523017;
}

	.btn-default:hover {
		background-color: #DDDDDD;
		color: #523017;
		border-color:#201309;
	}

.btn-primary, .btn-success, .btn-warning, .btn-danger {
	color: white;
}

