// Place all the styles related to the CoffeeBeans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'bootstrap';

.row {
	margin: 0px;
}

.col-md-6, .col-md-9, .col-md-3 {
	padding: 0px;
}

body {
	/*background-image: url('/assets/purty_wood.png'); */
	background-color: #64574A;
	background-repeat: repeat;
	color: #523017;
}

a {
	color: #333333;
}

a:hover {
	color: #111111;
}


.top {
	margin-bottom: 0px;
	top: 0;
	position: fixed;
	width: 100%;
}

	/*TASK BAR STUFF*/

	.top h1 {
		margin: 0px;
	}

		.top .title {
			padding: 0px;
			padding-top: 5px;
			vertical-align: bottom;
		}

		.top span.unchained {
			color: #935F2F;
		}

		.top span.coffee {
			color: white;
		}

		.top span.bean {
			color: #C79A60;
		}

	ul {
		list-style-type: none;
		margin-bottom: 0px;
	}

	li {
		display: inline-block;
		padding: 10px;
		border-bottom: none;
		font-size: 18px;
		font-weight: bold;
	}

	.task {
		background-color: #201309;
		padding: 10px;
		padding-right: 40px;
	}

	.active {
		border-bottom: 2px solid #935F2F;
		color: white;
	}

	.inactive, #user_info {
		color: #935F2F;
	}

		.inactive:hover {
			color: white;
			border-bottom: 2px solid #935F2F;
		}

	.task-right {
		text-align: right;
	}


.body {
	background-color: #9D6D41;
	/*padding: 100px 40px;*/
}
	
	.body_top {
		padding: 80px 40px;
		padding-bottom: 20px;
		background-color: #EAE8DB;
	}

	.body_bottom {
		background-color: #C79A60;
	}

.search-form {
	margin-bottom: 20px;
	background-color: #EAE8DB;
	width: 100%;
}

	.search-form h3 {
		margin-top: 0px;
	}

	#address {
		width: 100%;
	}

.shop-pic {
	vertical-align: bottom;
	max-width: 200px;
	max-height: 150px;
}

.map{
	height: 600px;
	padding-top: 210px;
	width: 100%;
	border: 1px solid #64574A;
	display: inline-block;
}

	.info_window {
		background-color: grey;
	}

	.location {
		height: 20px;
		width: 20px;
		margin-left: 537px;
		border-radius: 25px;
	}

#activity_div {
	display: inline-block;
	border-left: 2px solid #64574A;
	padding: 10px;
	padding: 0px 10px 2px 20px;
	margin-bottom: 10px;
	margin-left: 20px;
	background-color: #EAE8DB;
	height: 100%;
	min-width: 200px;
	vertical-align: top;
}

	#activity_div h3{
		padding-bottom: 10px;
		border-bottom: 2px dashed #333333;
		margin-bottom: 0px;
		margin-top: 0px;
	}

	
	.show_activities {
		padding: 5px;
		overflow: scroll;
		height: 675px;
	}

	.activity {
		border-bottom: 2px dashed #333333;
		padding: 5px 0px;
	}

		.activity span {
			font-style: italic;
			font-size: 12px;
		}

.add-form {
	padding: 100px;
	background-color: #201309;
	text-align: center;
	color: #9D6D41;
}

	.add-form .add-label {
		display: inline-block;
	}

	.add-form .btn {
		vertical-align: top;
		margin-top: 5px;
		width: 200px;
	}

	.add-form .register_link {
		color: #666666;
	}

	.add-form h3 {
		margin-top: 0px;
	}

	.add-form .col-md-5 {
		text-align: center;
	}

.shops-near {
	padding: 10px 40px;
	width: 100%;
	color: #201309;
}	
	.shops-near h2 {
		margin-top: 10px;
		margin-bottom: 20px;
	}

	.shops {
		height: 600px;
		overflow: scroll;
		border: 2px solid #64574A;
		padding: 20px;
		background-color: #9D6D41;
	}

	.shop {
		padding: 20px;
		border-bottom: 2px dashed #333333;
	}

		.shop .btn {
			margin-top: 20px;
		}

		.shop h3 a {
			color: #201309;
		}

		.shop h3 {
			margin-top: 0px;
		}

			.shop_address {
				color: #444444;
			}

		.shop .col-md-3 {
			text-align: center;
		}

		.description {
			font-weight: normal;
		}

.btn-primary {
	background-color: #6C4C2B; 
	border: 1px solid #523017;
}
	.btn-primary:hover {
		background-color: #523017;
		border-color: #201309;
	}

.btn-success {
	background-color: #64574A;
	border-color: #222222;
}

	.btn-success:hover {
		background-color: #444444;
		border-color: #111111;
	}

.btn-warning {
	background-color: #E8C86C;
}

.btn-default {
	font-weight: bold;
	background-color: white;
	color: #523017;
	border-color: #523017;
}

	.btn-default:hover {
		background-color: #DDDDDD;
		color: #523017;
		border-color:#201309;
	}

.btn-primary, .btn-success, .btn-warning, .btn-danger {
	color: white;
}

.ui-dialog {
	background-color: blue;
	color: white;
}